{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="text-pixel-green-f">ПРАВИЛА</h1>
    </div>
</div>
<div class="container mt-large-f mb-large-f pb-large-f">
    <div class="row justify-content-around">
        <div class="text-white-f col-12">
            <p class="text-center">
                Современные технологии достигли такого уровня, что граница обучения кадров обеспечивает актуальность системы
                массового участия. Повседневная практика показывает, что экономическая повестка сегодняшнего дня прекрасно подходит
                для реализации вывода текущих активов.
                Современные технологии достигли такого уровня, что граница обучения кадров обеспечивает актуальность системы
                массового участия. Повседневная практика показывает, что экономическая повестка сегодняшнего дня прекрасно подходит
                для реализации вывода текущих активов.
                Современные технологии достигли такого уровня, что граница обучения кадров обеспечивает актуальность системы
                массового участия. Повседневная практика показывает, что экономическая повестка сегодняшнего дня прекрасно подходит
                для реализации вывода текущих активов.
            </p>
        </div>
        <div class="text-white-f col-8 col-md-5 mt-large-f">
            <div class="legend-f row p-3 pt-5 justify-content-center">
                <img src="/themes/hackschool2022/static/img/Vector.png" class="col-4 m-auto">
                <div class="legend-content col-12 pt-5 text-center">
                    <h2 class="label-f text-center">Заголовок</h2>
                    <p class="mt-4">
                        Современные технологии достигли такого уровня, что граница обучения кадров обеспечивает актуальность системы
                        массового участия. Повседневная практика показывает, что экономическая повестка сегодняшнего дня прекрасно
                        подходит для реализации вывода текущих активов.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-white-f col-8 col-md-5 mt-large-f">
            <div class="legend-f row p-3 pt-5 justify-content-center">
                <img src="/themes/hackschool2022/static/img/Vector.png" class="col-4 m-auto">
                <div class="legend-content col-12 pt-5 text-center">
                    <h2 class="label-f text-center">Заголовок</h2>
                    <p class="mt-4">
                        Современные технологии достигли такого уровня, что граница обучения кадров обеспечивает актуальность
                        системы
                        массового участия. Повседневная практика показывает, что экономическая повестка сегодняшнего дня
                        прекрасно
                        подходит для реализации вывода текущих активов.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-white-f col-8 col-md-5 mt-large-f">
            <div class="legend-f row p-3 pt-5 justify-content-center">
                <img src="/themes/hackschool2022/static/img/Vector.png" class="col-4 m-auto">
                <div class="legend-content col-12 pt-5 text-center">
                    <h2 class="label-f text-center">Заголовок</h2>
                    <p class="mt-4">
                        Современные технологии достигли такого уровня, что граница обучения кадров обеспечивает актуальность
                        системы
                        массового участия. Повседневная практика показывает, что экономическая повестка сегодняшнего дня
                        прекрасно
                        подходит для реализации вывода текущих активов.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-white-f col-8 col-md-5 mt-large-f">
            <div class="legend-f row p-3 pt-5 justify-content-center">
                <img src="/themes/hackschool2022/static/img/Vector.png" class="col-4 m-auto">
                <div class="legend-content col-12 pt-5 text-center">
                    <h2 class="label-f text-center">Заголовок</h2>
                    <p class="mt-4">
                        Современные технологии достигли такого уровня, что граница обучения кадров обеспечивает актуальность
                        системы
                        массового участия. Повседневная практика показывает, что экономическая повестка сегодняшнего дня
                        прекрасно
                        подходит для реализации вывода текущих активов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}