{% extends "base.html" %}

{% block stylesheets %}

{% endblock %}

{% block content %}

<section class="rules_fon1">
    <div class="bliznyashka"></div>
    <div class="wrapper">
        <h1 class="text text--white">правила<br> соревнований</h1>
        <h1 class="text text--ripple">правила<br> соревнований</h1>
        <div class="rules_description">
            <p class="rules_desc-left">
                Всем участникам соревнований необходимо следовать правилам. При нарушении правил участники могут быть удалены без предупреждения.
            </p>
            <p class="rules_desc-right">
                В целом, все просто: можно пользоваться любой информацией из сети интернет, искать решения похожих задач, пользоваться любыми инструментами.
            </p>
        </div>
    </div>
</section>





{% endblock %}

{% block scripts %}
{% endblock %}
