{% extends "base.html" %}

{% block stylesheets %}

{% endblock %}

{% block content %}

<section class="rules_fon1">
    <div class="bliznyashka"></div>
    <div class="wrapper">
        <h1 class="text text--white">правила<br> соревнований</h1>
        <h1 class="text text--ripple">правила<br> соревнований</h1>
        <div class="rules_description">
            <p class="rules_desc-left">
                Всем участникам соревнований необходимо следовать правилам. При нарушении правил участники <span class="warning">могут быть удалены без предупреждения.</span>
            </p>
            <p class="rules_desc-right">
                В целом, все просто: можно пользоваться любой информацией из сети интернет, искать решения похожих задач, пользоваться любыми инструментами.
            </p>
        </div>
    </div>
</section>

<section class="red__union__rectangle">
    <div class="wrapper">
        <div class="red__rectangle-flex">
            <p class="red__union__rectangle-head">
                одно условие:
            </p>
            <p class="red__union__rectangle-body">
                Решать задания следует совместными усилиями своей команды, без обмена флагами и просьб о помощи к другим командам или организаторам, чтобы не создавать неудобств участникам и не нарушать равные условия игры.
            </p>
        </div>
    </div>
</section>

<section class="rules_fon2">
    <div class="wrapper">
        <div class="grid__rules">
            <div class="grid__block">
                <h2 class="cart-head">
                    флаги
                </h2>
                <p class="cart-body">
                    Запрещается делиться флагами с другими командами, а также рассказывать ход решения задач до окончания состязаний. А внутри команды наоборот, это только поощряется для достижения наилучшего результата
                </p>
            </div>
            <div class="grid__block">
                <h2 class="cart-head">
                    инфраструктура
                </h2>
                <p class="cart-body">
                    Запрещается атаковать платформу и всю инфраструктуру соревнований. Если Вы обнаружили какие-либо неисправности, сообщите об этом организаторам.
                </p>
            </div>
            <div class="grid__block">
                <h2 class="cart-head">
                    телеграм чат
                </h2>
                <p class="cart-body">
                    В ходе соревнований запрещается обсуждать задания и ход их решения. Настоятельно просим не выпрашивать подсказки у организаторов. Вы в силах решить любое задание самостоятельно.
                </p>
            </div>
            <div class="grid__block">
                <h2 class="cart-head">
                    виртуальные аккаунты
                </h2>
                <p class="cart-body">
                    Запрещается регистрировать более одного аккаунта на платформе соревнований. Нарушители данного правила будут незамедлительно отстранены от участия в состязании.
                </p>
            </div>
        </div>
    </div>
</section>

<footer class="rules__footer">
    <div class="footer__wrapper">
        <div class="footer__flex">
            <a href="https://t.me/vkactf" class="footer__link" target="_blank" rel="noopener noreferrer">
                <img src="themes/vka2025/static/img/png/tg-logo-red.png" alt="" class="logo-tg-red">
                <p class="tg-label tg-red">tg канал</p>
            </a>
            <a href="https://t.me/vkactf_chat" class="footer__link" target="_blank" rel="noopener noreferrer">
                <img src="themes/vka2025/static/img/png/tg-logo.png" alt="" class="logo-tg-white">
                <p class="tg-label tg-white">tg чат</p>
            </a>
            <p class="footer__copyright">
                Этот сайт использует контент, защищенный авторским правом студии Mundfish, в рамках добросовестного использования
            </p>
        </div>
    </div>
</footer>

{% endblock %}

{% block scripts %}
{% endblock %}
