{% extends "base.html" %}

{% block content %}
<section class="notif">
	<div class="container_full">
		<h1 class="title_settings">почта</h1>
	</div>
	<div class="container">
		<div class="container_settings_form">
			<div class="left_buttons_container">
				<div class="left_buttons_inner">
					<div class="center_line_notif">&nbsp;</div>
						<div class="links_column">
						{% for notification in notifications %}
							<div class="link-box-notif">
								<a class="custom-link nav-link nav-link-column settings_profile_link {% if loop.first %}active{% endif %}"
									data-toggle="pill"
									href="#notif-{{ loop.index }}"
									role="tab">
									{{ notification.title }}
								</a>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="notif_right_block tab-content">
			{% for notification in notifications %}
				<div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="notif-{{ loop.index }}" role="tabpanel">
						<div class="card-body">
							<h3 class="card-title">{{ notification.title }}</h3>
							<div class="underline"></div>
							<div class="notification-meta">
								<p>Дата:  <span data-time="{{ notification.date | isoformat }}"></span> </p>
								<p>От кого: рук. комплекса «Вавилов» С. Вавилов</p>
								<p>Кому: участнику соревнований VKACTF 2025</p>
							</div>
							<div class="notification-text">
								{{ notification.html }}
							</div>
						</div>
				</div>
			{% endfor %}
			</div>

		</div>
	</div>
</section>

{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/notifications.js') }}"></script>


<script>
  document.querySelectorAll('.nav-link').forEach(link => {
    link.addEventListener('click', function (e) {


      // Удаляем active у всех ссылок
      document.querySelectorAll('.nav-link').forEach(el => {
        el.classList.remove('active-box-notif');
      });

      // Добавляем active к текущей ссылке
      this.classList.add('active-box-notif');

      // Дополнительно переключаем табы вручную, если Bootstrap JS не используется
      // Если Bootstrap, он сам переключит таб, и можно этот код убрать

      // Показать нужный таб, скрыть остальные
      const targetId = this.getAttribute('href').substring(1);
      document.querySelectorAll('.tab-pane').forEach(tab => {
        tab.classList.remove('show', 'active');
      });
      const targetTab = document.getElementById(targetId);
      if (targetTab) {
        targetTab.classList.add('show', 'active');
      }
    });
  });
</script>
{% endblock %}
