{% extends "base.html" %}

{% block stylesheets %}

{% endblock %}

{% block content %}
<section class="register_page">
	<div class="passport-container">
		<img class="passport-bg" src="themes/vka2025/static/img/passport_book.jpg" alt="Passport">
		<div class="left-page">
			<h2>РЕГИСТРАЦИЯ</h2>
			<h3>vkactf2025</h3>
			<div class="error">
				{% include "components/errors.html" %}
			</div>
		</div>
		<div class="right-page">

			{% with form = Forms.auth.RegistrationForm() %}
			{% from "macros/forms.html" import render_extra_fields %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form" id="register">
				<div class="form-group_reg_name">
					{{ form.name(class="form-control_reg-name", value=name) }}
					<label>{{ form.name.label }}</label>
				</div>
				<div class="form-group_reg_email">
					{{ form.email(class="form-control_reg-email", value=email) }}
					<label>{{ form.email.label }}</label>
				</div>
				<div class="form-group_reg_pass">
					{{ form.password(class="form-control_reg-pass", value=password) }}
					<label>{{ form.password.label }}</label>
				</div>
				{{ form.nonce() }}
				{{ render_extra_fields(form.extra) }}
				<div class="register_button">
					{{ form.submit(class="button-red ") }}
				</div>

				{% if Configs.tos_or_privacy %}
				<div class="text-center mt-3">
					<small>
						Регистрируясь, вы соглашаетесь с
						<a href="{{ Configs.privacy_link }}" target="_blank">политикой конфиденциальности</a>
						и <a href="{{ Configs.tos_link }}" target="_blank">условиями использования</a>.
					</small>
				</div>
				{% endif %}
			</form>
			{% endwith %}
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
