{% extends "base.html" %}

{% block content %}
<section class="tournament">

	<div class="top_girl_flag">
		<div class="top_girl_flag_title top_girl_flag_title_pos_left">
			турнирная таблица
		</div>
		<div class="top_girl_flag_title top_girl_flag_title_pos_right">
			топ-10 участников
		</div>
	</div>

<!-- SCORE TABLE -->

	<div class="result_graphics_form">
    </div>

	<h2 class="top_50_title">
		топ-50 участников
	</h2>

	{% cache 60, CacheKeys.PUBLIC_SCOREBOARD_TABLE %}
	{% if standings %}
	<div id="scoreboard" class="row">
		<div class="col-md-12">
			<table class="top_50_table">
				 <thead class="top_50_table_head">
					<tr>
						<th>Место</th>
						<th>Команда</th>
						<th>ВУЗ</th>
						<th>Очки</th>
					</tr>
				</thead>
				<tbody class="top_50_table_body">
				{% for standing in standings %}
					<tr {% if loop.index % 2 == 0 %}class="top_50_table_row_highlight"{% endif %}>
						<td class="top_50_table_cell">{{ loop.index }}</td>
						<td class="top_50_table_cell">
							<a href="{{ generate_account_url(standing.account_id) }}">
								{{ standing.name | truncate(50) }}

								{% if standing.oauth_id %}
									{% if Configs.user_mode == 'teams' %}
									<a href="https://majorleaguecyber.org/t/{{ standing.name }}">
										<span class="badge badge-primary">Official</span>
									</a>
									{% elif Configs.user_mode == 'users' %}
									<a href="https://telegram.me/{{ standing.name }}">
										<span class="badge badge-primary">Telegram</span>
									</a>
									{% endif %}
								{% endif %}
							</a>
						</td>
						<td class="top_50_table_cell">
							ВУЗ
						</td>
						<td class="top_50_table_cell">
							{{ standing.score }}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	{% endcache %}
</div>

{% endblock %}

{% block scripts %}
	<script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', path='js/pages/scoreboard.js') }}"></script>
{% endblock %}
