{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
<div class="one_team_page">
    <div class="wrapper">
        <div class="team-container">
            <h1>Команда</h1>
            <div class="form_and_team">
                <div class="team-panel">
                    <button class="team-button">ПРИСОЕДИНИТЬСЯ</button>
                </div>

                <div class="team-form-container">
                    <div class="error_team">
                        {% include "components/errors.html" %}
                    </div>
                    {% with form = Forms.teams.TeamJoinForm() %}
                    <form method="POST" class="team-form">
                        <div class="input-group">
                            <label for="name" class="team-label">Название команды</label>
                            {{ form.name(class="team-input", placeholder="Введите название команды") }}
                        </div>

                        <div class="input-group">
                            <label for="password" class="team-label">Пароль команды</label>
                            {{ form.password(class="team-input", placeholder="Введите пароль команды") }}
                        </div>

                        <div class="create-team-btn">{{ form.submit(class="button-red") }}</div>
                        {{ form.nonce() }}
                    </form>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}