{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="one_team_page">
	<div class="wrapper">
		<div id="team-edit-modal" class="modal fade" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="window_edit_team  modal-content">
							<div class="window_edit_team_header modal-header">
								<h2 class="edit_tram_model_window_title">редактировать команду</h2>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								</button>
							</div>
							{% with form = Forms.teams.TeamSettingsForm(obj=team) %}
							{% from "macros/forms.html" import render_extra_fields %}
							<form id="team-info-form" class="correct_edit_team_form" method="POST">
								<div class="window_edit_inner_container">
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Имя команды
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.name(class="form-control form_control_for_settings", placeholder="Новое имя команды") }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Текущий пароль
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.confirm(class="form-control form_control_for_settings",placeholder="********") }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Новый пароль
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.password(class="form-control form_control_for_settings",placeholder="********") }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team ">
											Учебное заведение
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.affiliation(class="form-control form_control_for_settings",placeholder="-",value=affiliation or "") }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>
									</div>

									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Страна
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.country(class="form-control custom-select form_control_for_settings", placeholder="Выберите страну") }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>
									</div>
									<div class="line_between_micro_edit_team"></div>
									{{ form.submit(class="custom_submit_button button-red", value="Сохранить", id="btn_id_find")}}
								</div>
							</form>
							{% endwith %}
				        </div>
			</div>
		</div>

		<div id="team-captain-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="window_edit_team  modal-content">
							<div class="window_edit_team_header modal-header">
						<h2 class="edit_tram_model_window_title">Назначить капитана</h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						</button>
					</div>
					<div class="modal-body clearfix">
						{% with form = Forms.teams.TeamCaptainForm(captain_id=team.captain_id) %}
						<form id="team-captain-form" class="correct_edit_team_form" method="POST">
							<div class="form-group">
								<p class="lable_name_window_edit_team ">
											КАПИТАН КОМАНДЫ
								</p>
								{% for member in team.members %}
									{% set _ = form.captain_id.choices.append((member.id, member.name)) %}
								{% endfor %}
								{{ form.captain_id(class="form-control custom-select") }}
							</div>
							<div id="results">
							</div>
							{{ form.submit(class="button-red custom_submit_button") }}
						</form>
						{% endwith %}
					</div>
				</div>
			</div>
		</div>

		<div id="team-invite-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="window_edit_team  modal-content">
							<div class="window_edit_team_header modal-header">
						<h2 class="edit_tram_model_window_title">Пригласить пользователя</h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						</button>
					</div>
					{% with form = Forms.teams.TeamInviteForm() %}
					<form class="correct_edit_team_form_link" method="POST">
						<div class="invite-form__group">
							<p class="lable_name_window_edit_team text_share_link_up">
								ССЫЛКА-ПРИГЛАШЕНИЕ
							</p>
							<div class="invite-form__input-wrapper">
								{{ form.link(id="team-invite-link", class="invite-form__input", readonly=True) }}
								<div class="invite-form__actions">
									<button id="team-invite-link-copy" class="invite-form__copy-btn" type="button">
										<div class="copy-btn__square">
											<img src="themes/vka2025/static/img/svg/copy.svg" alt="" class="invite-form__copy-icon">
										</div>
									</button>
							</div>
						</div>
						<p class="invite-form__hint">
							Поделитесь этой ссылкой с членами вашей команды, чтобы они присоединились к вам
						</p>
						<p class="invite-form__hint">
							Cсылки могут быть использованы повторно, срок их действия истекает через 1 день
						</p>
					</form>
					{% endwith %}
					</div>
				</div>
			</div>
		</div>

		<div class="info_team_line">
			<h1 id="team_name" team-id="{{ team.id }}">{{ team.name }}</h1>
			<div class="pt-3">
				<a class="edit-team">
					{% if team.captain_id == user.id %}
						<div class="team-actions">

							<button class="team-action-btn team-action-btn--settings"
									data-toggle="tooltip"
									data-placement="top"
									title="Редактировать настройки команды">
								<img src="themes/vka2025/static/img/setting.svg" alt="Настройки" class="team-action__icon">
								<span class="team-action__label"></span>
							</button>

						<a class="edit-captain">
							<button class="team-action-btn team-action-btn--captain"
									data-toggle="tooltip"
									data-placement="top"
									title="Выбрать капитана команды">
								<img src="themes/vka2025/static/img/cap.svg" alt="Капитан" class="team-action__icon">
								<span class="team-action__label"></span>
							</button>
						</a>
						<a class="invite-members">
							<button class="team-action-btn team-action-btn--invite"
									data-toggle="tooltip"
									data-placement="top"
									title="Пригласить пользователя">
								<img src="themes/vka2025/static/img/invite-link.svg" alt="Пригласить" class="team-action__icon">
								<span class="team-action__label"></span>
							</button>
						</a>
						</div>
					{% else %}
						<div class="team-actions">

							<button class="team-action-btn team-action-btn--settings"
									data-toggle="tooltip"
									data-placement="top"
									title="Только капитан команды может её редактировать ">
								<img src="themes/vka2025/static/img/setting.svg" alt="Настройки" class="team-action__icon" style="filter: brightness(0.8);">
								<span class="team-action__label"></span>
							</button>

							<a class="edit-captain">
								<button class="team-action-btn team-action-btn--captain"
										data-toggle="tooltip"
										data-placement="top"
										title="Только капитан команды может выбрать нового капитана">
									<img src="themes/vka2025/static/img/cap.svg" alt="Капитан" class="team-action__icon" style="filter: brightness(0.8);">
									<span class="team-action__label"></span>
								</button>
							</a>
							<a class="invite-members">
								<button class="team-action-btn team-action-btn--invite"
										data-toggle="tooltip"
										data-placement="top"
										title="Только капитан команды может пригласить нового пользователя">
									<img src="themes/vka2025/static/img/invite-link.svg" alt="Пригласить" class="team-action__icon" style="filter: brightness(0.8);">
									<span class="team-action__label"></span>
								</button>
							</a>
						</div>
					{% endif %}
				</a>
				{% if team.website and (team.website.startswith('http://') or team.website.startswith('https://')) %}
					<a href="{{ team.website }}" target="_blank" style="color: inherit;" rel="noopener">
						<i class="fas fa-external-link-alt fa-2x px-2" data-toggle="tooltip" data-placement="top"
						   title="{{ team.website }}"></i>
					</a>
				{% endif %}
			</div>
			<div class="team-score-wrapper">
				<small class="score-label">Место</small>
				<div class="score-boxes">
					<div class="team-stat-box left-box">
					{% if scores_visible() and place %}
						<p>{{ place }}</p>
					{% else %}
						<p>-</p>
					{% endif %}
					</div>
				</div>
			</div>
			<div class="team-score-wrapper">
				<small class="score-label">Заработано очков</small>
					<div class="score-boxes">
						<div class="team-stat-box middle-box
							{% if score >= 3000 %}
								middle-high
							{% elif score != 0 %}
								middle-medium
							{% else %}
								middle-low
							{% endif %}
						"></div>
						<div class="team-stat-box right-box">
						{% if score %}
							<p>{{ score }}</p>
						{% else  %}
							<p>0</p>
						{% endif %}
						</div>
					</div>
			</div>
		</div>





			{% include "components/errors.html" %}

			<br>

		<div class="tables">
				<div class="table_with_memb">
					<h1>Участники</h1>
					<table class="table_profile_team">
						<thead>
						<tr>
							<td><b>Имя пользователя</b></td>
							<td><b>Очки</b></td>
						</tr>
						</thead>
						<tbody>
						{% for member in team.members %}
							<tr>
								<td>
									<a href="{{ url_for('users.public', user_id=member.id) }}">
										{{ member.name }}
									</a>
									{% if team.captain_id == member.id %}
										<span class="badge badge-primary ml-2">Капитан</span>
									{% endif %}
								</td>
								<td>{{ member.score }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>

			{% if solves %}

				<div class="table_with_memb">

						<h1>Решения</h1>
						<table class="table_profile_team-2">
							<thead>
							<tr>
								<td><b>Задание</b></td>
								<td class="d-none d-md-block d-lg-block"><b>Категория</b></td>
								<td><b>Стоимость</b></td>
								<td><b>Время сдачи</b></td>
							</tr>
							</thead>
							<tbody>
							{% for solve in solves %}
								<tr>
									<td>
										<a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}-{{ solve.challenge.id }}">
											{{ solve.challenge.name }}
										</a>
									</td>
									<td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td>
									<td>{{ solve.challenge.value }}</td>
									<td class="solve-time">
										<span data-time="{{ solve.date | isoformat }}">{{ solve.date }}</span>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

				</div>
			{% else %}
				<div class="row min-vh-25">
					<h3 class="opacity-50 text-center w-100 justify-content-center align-self-center">
						Решений пока нет
					</h3>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

<script>
function enableInput(icon) {
  const input = icon.previousElementSibling;
  if (input) {
    input.focus();
  }
}
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const btn = document.getElementById("btn_id_find");
  const results = document.getElementById("results");

  btn.addEventListener("click", function () {
    results.style.display = "flex";
  });
});
</script>

<script>
	var stats_data = {{ {
		"type": "team",
		"id": team.id,
		"name": team.name,
		"account_id": "me"
	} | tojson }};

	var team_captain = {{ (user.id == team.captain_id) | tojson }};
</script>

<script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% if solves or awards %}
	<script defer src="{{ url_for('views.themes', path='js/graphs.js') }}"></script>
	<script defer src="{{ url_for('views.themes', path='js/pages/stats.js') }}"></script>
{% endif %}
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/teams/private.js') }}"></script>
{% endblock %}
