{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="one_team_page">
	<div class="wrapper">
		<div id="team-edit-modal" class="modal fade" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
						<div class="window_edit_team">
							<div class="window_edit_team_header">
								<h2 class="edit_tram_model_window_title">редактировать команду</h2>
							</div>
							{% with form = Forms.teams.TeamSettingsForm(obj=team) %}
							{% from "macros/forms.html" import render_extra_fields %}
							<form id="team-info-form" method="POST"> 
								<div class="window_edit_inner_container">
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Имя команды
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.name(class="form-control", placeholder="user_name", readonly=True) }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Старый пароль
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.confirm(class="form-control",placeholder="********", readonly=True) }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>	
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Новый пароль
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.password(class="form-control",placeholder="********", readonly=True) }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Принадлежность
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.affiliation(class="form-control",placeholder="-",value=affiliation or "", readonly=True) }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>	
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Сайт
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.website(class="form-control", placeholder="-", readonly=True) }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>	
									</div>
									<div class="line_between_micro_edit_team"></div>
									<div class="window_edit_team_micro_row_container">
										<p class="lable_name_window_edit_team">
											Страна
										</p>
										<div class="form-input-wrapper_edit_win">
											{{ form.country(class="form-control custom-select", value=country, readonly=True) }}
											<span class="edit_icon" onclick="enableInput(this)"></span>
										</div>	
									</div>
									<div class="line_between_micro_edit_team"></div>

									<hr>

									{{ render_extra_fields(form.extra) }}

									<div id="results">

									</div>
									{{ form.submit(class="custom_submit_button", value="Сохранить изменения")}}
								</div>
							</form>
							{% endwith %}
				        </div>
					
				</div>

			</div>
		</div>

		<div id="team-captain-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-action text-center w-100">Choose Captain</h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body clearfix">
						{% with form = Forms.teams.TeamCaptainForm(captain_id=team.captain_id) %}
						<form id="team-captain-form" method="POST">
							<div class="form-group">
								{{ form.captain_id.label }}
								{% for member in team.members %}
									{# Append members to the select choices #}
									{% set _ = form.captain_id.choices.append((member.id, member.name)) %}
								{% endfor %}
								{{ form.captain_id(class="form-control custom-select") }}
							</div>
							<div id="results">
							</div>
							{{ form.submit(class="btn btn-primary btn-outlined float-right modal-action") }}
						</form>
						{% endwith %}
					</div>
				</div>
			</div>
		</div>

		<div id="team-invite-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-action text-center w-100">Invite Users</h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body clearfix">
						{% with form = Forms.teams.TeamInviteForm() %}
						<form method="POST">
							<div class="form-group">
								<b>{{ form.link.label }}</b>
								<div class="input-group mb-3">
									{{ form.link(id="team-invite-link", class="form-control") }}
									<div class="input-group-append">
										<button id="team-invite-link-copy" class="btn btn-outline-secondary" type="button">
											<i class="fas fa-clipboard"></i>
										</button>
									</div>
								</div>
								<small class="form-text text-muted">
									Share this link with your team members for them to join your team
								</small>
								<small class="form-text text-muted">
									Invite links can be re-used and expire after 1 day
								</small>
							</div>
						</form>
						{% endwith %}
					</div>
				</div>
			</div>
		</div>
		
		<div class="info_team_line">
			<h1 id="team_name" team-id="{{ team.id }}">{{ team.name }}</h1>
			<div class="pt-3">
				<a class="edit-team">
					{% if team.captain_id == user.id %}
						<i class="btn-fa fas fa-cogs fa-2x px-2"
						   data-toggle="tooltip"
						   data-placement="top"
						   title="Редактировать настройки команды"></i>

						<a class="edit-captain">
							<i class="btn-fa fas fa-user-tag fa-2x px-2" data-toggle="tooltip" data-placement="top"
							   title="Выбрать капитана команды"></i>
						</a>

						<a class="invite-members">
							<i class="btn-fa fas fa-ticket-alt fa-2x px-2" data-toggle="tooltip" data-placement="top"
							   title="Пригласить пользователя"></i>
						</a>
					{% else %}
						<i class="btn-fa fas fa-cogs fa-2x px-2 fa-disabled"
						   data-toggle="tooltip"
						   data-placement="top"
						   title="Только капитаны команд могут редактировать информацию о команде"></i>
						<a class="edit-captain">
							<i class="btn-fa fas fa-user-tag fa-2x px-2 fa-disabled"
							   data-toggle="tooltip"
							   data-placement="top"
							   title="Только капитаны команд могут выбрать нового капитана"></i>
						</a>
						<a class="invite-members">
							<i class="btn-fa fas fa-ticket-alt fa-2x px-2"
								data-toggle="tooltip"
								data-placement="top"
								title="Только капитаны команд могут создавать ссылки для приглашений"></i>
						</a>
					{% endif %}
				</a>
				{% if team.website and (team.website.startswith('http://') or team.website.startswith('https://')) %}
					<a href="{{ team.website }}" target="_blank" style="color: inherit;" rel="noopener">
						<i class="fas fa-external-link-alt fa-2x px-2" data-toggle="tooltip" data-placement="top"
						   title="{{ team.website }}"></i>
					</a>
				{% endif %}
			</div>
			<div class="team-score-wrapper">
				<small class="score-label">Место</small>
				<div class="score-boxes">
					<div class="team-stat-box left-box">
					{% if scores_visible() and place %}
						<p>{{ place }}</p>
					{% else %}
						<p>-</p>
					{% endif %}
					</div>
				</div>
			</div>	
			<div class="team-score-wrapper">
				<small class="score-label">Заработано очков</small>
					<div class="score-boxes">
						<div class="team-stat-box middle-box 
							{% if score >= 19000 %}
								middle-high
							{% elif score >= 5000 %}
								middle-medium
							{% else %}
								middle-low
							{% endif %}
						"></div>
						<div class="team-stat-box right-box">
						{% if score %}
							<p>{{ score }}</p>
						{% else  %}
							<p>0</p>
						{% endif %}
						</div>
					</div>
			</div>
		</div>


			
		

			{% include "components/errors.html" %}

			<br>

		<div class="tables">
				<div class="table_with_memb">
					<h1>Участники</h1>
					<table class="table_profile_team">
						<thead>
						<tr>
							<td><b>Имя пользователя</b></td>
							<td><b>Очки</b></td>
						</tr>
						</thead>
						<tbody>
						{% for member in team.members %}
							<tr>
								<td>
									<a href="{{ url_for('users.public', user_id=member.id) }}">
										{{ member.name }}
									</a>
									{% if team.captain_id == member.id %}
										<span class="badge badge-primary ml-2">Капитан</span>
									{% endif %}
								</td>
								<td>{{ member.score }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			
			{% if solves %}

				<div class="table_with_memb">
					
						<h1>Решения</h1>
						<table class="table_profile_team">
							<thead>
							<tr>
								<td><b>Задание</b></td>
								<td class="d-none d-md-block d-lg-block"><b>Категория</b></td>
								<td><b>Стоимость</b></td>
								<td><b>Время сдачи</b></td>
							</tr>
							</thead>
							<tbody>
							{% for solve in solves %}
								<tr>
									<td>
										<a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}-{{ solve.challenge.id }}">
											{{ solve.challenge.name }}
										</a>
									</td>
									<td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td>
									<td>{{ solve.challenge.value }}</td>
									<td class="solve-time">
										<span data-time="{{ solve.date | isoformat }}">{{ solve.date }}</span>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

				</div>
			{% else %}
				<div class="row min-vh-25">
					<h3 class="opacity-50 text-center w-100 justify-content-center align-self-center">
						Решений пока нет
					</h3>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}


<script>
function enableInput(icon) {
	const input = icon.previousElementSibling;
	if (input.hasAttribute('readonly')) {
		input.removeAttribute('readonly');
		input.focus();
	}
}
</script>

<script>
	var stats_data = {{ {
		"type": "team",
		"id": team.id,
		"name": team.name,
		"account_id": "me"
	} | tojson }};
	
	var team_captain = {{ (user.id == team.captain_id) | tojson }};
</script>

<script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% if solves or awards %}
	<script defer src="{{ url_for('views.themes', path='js/graphs.js') }}"></script>
	<script defer src="{{ url_for('views.themes', path='js/pages/stats.js') }}"></script>
{% endif %}
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/teams/private.js') }}"></script>
{% endblock %}
