{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<section class="teams_page">
	<h1>Команды</h1>
	<div class="table_and_input_line">
		<div class="search_team_line">
			{% with form = Forms.teams.PublicTeamSearchForm(field=field, q=q) %}
			<form method="GET" class="form-teams_search">
				<div class="form-group-team ">
					{{ form.field(class="form-control-team") }}
				</div>
				<div class="form-group-team ">
					{{ form.q(class="form-control-team", placeholder="Введите название команды") }}
				</div>
				<div class="form-group-team">
					<button type="submit" class="btn btn-red btn-block">
						<i class="fas fa-search" aria-hidden="true"></i>
					</button>
				</div>
			</form>
			{% endwith %}	
		</div>

		<hr>

		<div class="team_table">
			<table class="table_team">
				<thead>
					<tr>
						<th class="col-name"><b>Название команды</b></th>
						<th class="col-uni"><b>ВУЗ</b></th>
					</tr>
				</thead>
				<tbody>
					{% for team in teams.items %}
					<tr>
						<td class="col-name">
							{% if scores_visible() %}
								<a href="{{ url_for('teams.public', team_id=team.id) }}">{{ team.name | truncate(50) }}</a>
							{% else %}
								<span>{{ team.name | truncate(50) }}</span>
							{% endif %}
							{% if team.oauth_id %}
								<a href="https://majorleaguecyber.org/t/{{ team.name }}">
									<span class="badge badge-primary">Official</span>
								</a>
							{% endif %}
						</td>
						<td class="col-uni">
							{% if team.affiliation %}
								<span>{{ team.affiliation | truncate(50) }}</span>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>
		{% if teams.pages > 1 %}
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">Page
					<br>
					{% if teams.page != 1 %}
					<a href="{{ prev_page }}">&lt;&lt;&lt;</a>
					{% endif %}
					<select class="page-select">
						{% for page in range(1, teams.pages + 1) %}
						<option {% if teams.page == page %}selected{% endif %}>{{ page }}</option>
						{% endfor %}
					</select>
					{% if teams.next_num %}
					<a href="{{ next_page }}">&gt;&gt;&gt;</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
