{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<section class="teams_page">
	<h1>Команды</h1>
	<div class="table_and_input_line">
		<div class="search_team_line">
			{% with form = Forms.teams.PublicTeamSearchForm(field=field, q=q) %}
			<form method="GET" class="form-teams_search">
				<div class="form-group-team-2 ">
					{{ form.field(class="form-control-team-2") }}
				</div>
				<div class="form-group-team-2 ">
					{{ form.q(class="form-control-team-2", placeholder="Введите название команды") }}
				</div>
				<div class="form-group-team-2">
					<button type="search_team_button" class="button-red_search">
						<span class="text_in_button"> ПОИСК</span>
					</button>
				</div>
			</form>
			{% endwith %}	
		</div>

		<hr>

		<div class="team_table">
			<table class="table_team">
				<thead>
					<tr>
						<th class="col-name"><b>Название команды</b></th>
						<th class="col-uni"><b>Учебное заведение</b></th>
					</tr>
				</thead>
				<tbody>
					{% for team in teams.items %}
					<tr>
						<td class="col-name">
							{% if scores_visible() %}
								<a href="{{ url_for('teams.public', team_id=team.id) }}" class="custom-link">{{ team.name | truncate(50) }}</a>
							{% else %}
								<span>{{ team.name | truncate(50) }}</span>
							{% endif %}
						</td>
						<td class="col-uni">
							{% if team.affiliation %}
								<span>{{ team.affiliation | truncate(50) }}</span>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% if teams.pages > 1 %}
		<div class="pagination-container">
			{% if teams.page != 1 %}
			<a class="arrow arrow-left" href="{{ prev_page }}">
				<div class="arrow-top"></div>
				<div class="arrow-bottom"></div>
			</a>
			{% endif %}
			<div class="page-numbers">
			{% for page in range(1, teams.pages + 1) %}
				{% if teams.page == page %}
				<span class="active-page">{{ page }}</span>
				{% else %}
				<a href="?page={{ page }}">{{ page }}</a>

				{% endif %}
			{% endfor %}
			</div>

			{% if teams.next_num %}
			<a class="arrow" href="{{ next_page }}">
				<div class="arrow-top"></div>
				<div class="arrow-bottom"></div>
			</a>
			{% endif %}
		</div>
		{% endif %}
	</div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
