<div role="tabpanel" class="tab-pane config-section" id="tgoauth">
	<form method="POST" autocomplete="off" class="w-100">

		<div class="form-group">
			<label>
				Telegram Bot 
				<small class="form-text text-muted">
					Telegram Bot Token for <a href="https://telegram.me/">Telegram</a> integration.
				</small>
			</label>
			<input class="form-control" id='tg_bot_secret' name='tg_bot_secret' type='text'
				   placeholder=""
				   {% if tg_bot_secret is defined and tg_bot_secret != None %}value="{{ tg_bot_secret }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				Telegram Bot Username
				<small class="form-text text-muted">
					Telegram Bot username for <a href="https://telegram.me/">Telegram</a> integration.
				</small>
			</label>
			<input class="form-control" id='tg_bot_username' name='tg_bot_username' type='text'
				   placeholder=""
				   {% if tg_bot_username is defined and tg_bot_username != None %}value="{{ tg_bot_username }}"{% endif %}>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>