{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="one_team_page">
    <div class="wrapper">
        <div class="info_team_line">
            <h1>{{ user.name }}</h1>
            
            <div class="pt-3">
                {% if user.team_id %}
                    <a href="{{ url_for('teams.public', team_id=user.team_id) }}">
                        <i class="btn-fa fas fa-users fa-2x px-2" data-toggle="tooltip" data-placement="top"
                           title="Team: {{ user.team.name }}"></i>
                    </a>
                {% endif %}
            </div>
            
            
            <div class="team-score-wrapper">
                <small class="score-label">Заработано очков</small>
                <div class="score-boxes">
                    <div class="team-stat-box middle-box 
                        {% if account and account.score >= 19000 %}
                            middle-high
                        {% elif account and account.score >= 5000 %}
                            middle-medium
                        {% else %}
                            middle-low
                        {% endif %}">
                    </div>
                    <div class="team-stat-box right-box">
                        {% if user and user.score %}
                            <p>{{ user.score }}</p>
                        {% else %}
                            <p>0</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include "components/errors.html" %}

        <div class="tables">    

            {% set solves = user.solves %}
            
            
            {% if solves %}
                <div class="table_with_memb">
                    <h1>Решения</h1>
                    <table class="table_profile_team">
                        <thead>
                            <tr>
                                <td><b>Задание</b></td>
                                <td class="d-none d-md-block d-lg-block"><b>Категория</b></td>
                                <td><b>Стоимость</b></td>
                                <td><b>Время сдачи</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for solve in solves %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}-{{ solve.challenge.id }}">
                                            {{ solve.challenge.name }}
                                        </a>
                                    </td>
                                    <td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td>
                                    <td>{{ solve.challenge.value }}</td>
                                    <td class="solve-time">
                                        <span data-time="{{ solve.date | isoformat }}">{{ solve.date }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="row min-vh-25">
                    <h3 class="opacity-50 text-center w-100 justify-content-center align-self-center">
                        Решений нет
                    </h3>
                </div>
            {% endif %}
        </div>

       
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var stats_data = {{ {
        'type': 'user',
        'id': user.id,
        'name': user.name,
        'account_id': user.id,
    } | tojson }};
</script>
<script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% if solves or awards %}
    <script defer src="{{ url_for('views.themes', path='js/graphs.js') }}"></script>
    <script defer src="{{ url_for('views.themes', path='js/pages/stats.js') }}"></script>
{% endif %}
{% endblock %}

{% block entrypoint %}
    <script defer src="{{ url_for('views.themes', path='js/pages/stats.js') }}"></script>
{% endblock %}